body {

    background-image: url("../im.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: floralwhite;
    position: relative;
    top: 150px;

}

.button-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    height: 350px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.button-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;

}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product-button {
    width: 200px;
    height: 50px;
    padding: 10px 10px;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #fad3c8;
}